@model CoursesArea
@{
    ViewData["Title"] = "Update";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Course</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Name</label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Category Description</label>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.AboutCourse">About Course</label>
                    <textarea asp-for="CourseDetail.AboutCourse" class="form-control" rows="4" placeholder="About Course"></textarea>
                    <span asp-validation-for="CourseDetail.AboutCourse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.Certification">Certification</label>
                    <textarea asp-for="CourseDetail.Certification" class="form-control" rows="4" placeholder="Certification"></textarea>
                    <span asp-validation-for="CourseDetail.Certification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.HowToApply">How To Apply</label>
                    <textarea asp-for="CourseDetail.HowToApply" class="form-control" rows="4" placeholder="How To Apply"></textarea>
                    <span asp-validation-for="CourseDetail.HowToApply" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.StartTime">Starts</label>
                    <input asp-for="CourseDetail.StartTime" class="form-control" placeholder="Starts">
                    <span asp-validation-for="CourseDetail.StartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.Duration">Duration</label>
                    <input asp-for="CourseDetail.Duration" class="form-control" placeholder="Duration">
                    <span asp-validation-for="CourseDetail.Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.ClassDuration">Class Duration</label>
                    <input asp-for="CourseDetail.ClassDuration" class="form-control" placeholder="Class Duration">
                    <span asp-validation-for="CourseDetail.ClassDuration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.SkillLevel">Skill Level</label>
                    <input asp-for="CourseDetail.SkillLevel" class="form-control" placeholder="Skill Level">
                    <span asp-validation-for="CourseDetail.SkillLevel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.Language">Language</label>
                    <input asp-for="CourseDetail.Language" class="form-control" placeholder="Language">
                    <span asp-validation-for="CourseDetail.Language" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.Assesment">Assesments</label>
                    <input asp-for="CourseDetail.Assesment" class="form-control" placeholder="Assesments">
                    <span asp-validation-for="CourseDetail.Assesment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDetail.Price">Price</label>
                    <input asp-for="CourseDetail.Price" class="form-control" placeholder="Price">
                    <span asp-validation-for="CourseDetail.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo">Image</label>
                    <input asp-for="Photo" class="form-control" accept="image/*" type="file">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-warning mr-2">Update</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>