
@{
    SearchViewModel searchViewModel = Model;
}
<ul>
    @foreach (var item in searchViewModel.Courses)
    {
        <li>
            <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
        </li>

    }
    @foreach (var item in searchViewModel.Events)
    {
        <li>
            <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id">@item.CourseName</a>
        </li>
    }
</ul>

