@model NoticeVideo

    <div class="notice-right-wrapper mb-25 pb-25">
        <h3>@Model.Title</h3>
        <div class="notice-video">
            <div class="video-icon video-hover">
                <a class="video-popup" href="@Model.Link">
                    <i class="zmdi zmdi-play"></i>
                </a>
            </div>
        </div>
    </div>