@model Teacher
@{ ViewData["Title"] = "Create"; }

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create course</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo">Photo</label>
                        <input asp-for="Photo" class="form-control" accept="image/*">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Title">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.Phone">Phone</label>
                        <textarea asp-for="TeacherDetails.Phone" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="TeacherDetails.Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TeacherDetails.SkillPercent">Skill Percent</label>
                        <input asp-for="TeacherDetails.SkillPercent" class="form-control" placeholder="AboutCourse">
                        <span asp-validation-for="TeacherDetails.SkillPercent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.SkillPercentCommunication">Skill Percent Communication</label>
                        <input asp-for="TeacherDetails.SkillPercentCommunication" class="form-control" placeholder="Skill Percent Communication">
                        <span asp-validation-for="TeacherDetails.SkillPercentCommunication" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.SkillPercentDesign">Skill Percent Design</label>
                        <input asp-for="TeacherDetails.SkillPercentDesign" class="form-control" placeholder="Skill Percent Design">
                        <span asp-validation-for="TeacherDetails.SkillPercentDesign" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.SkillPercentDevolopment">Skill Percent Development</label>
                        <input asp-for="TeacherDetails.SkillPercentDevolopment" class="form-control" placeholder="Skill Percent Development">
                        <span asp-validation-for="TeacherDetails.SkillPercentDevolopment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeacherDetails.SkillPercentInnovation">Skill Percent Innovation</label>
                        <input asp-for="TeacherDetails.SkillPercentInnovation" class="form-control" placeholder="Skill Percent Innovation">
                        <span asp-validation-for="TeacherDetails.SkillPercentInnovation" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-action="Index" class="btn btn-secondary">Go back</a>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>